name: Test & QA for the Pictet axum-tokio crate

on: [pull_request_target, workflow_dispatch]

permissions:
  contents: read
  packages: read

env:
  CARGO_TERM_COLOR: always

jobs:

  # ---------------------------------------------------------------------------
  #
  # Lint
  #
  # We run clippy on our codebase to ensure minimal code quality.
  # Of course this is not a substitute for human code review!
  #
  # ---------------------------------------------------------------------------

  # lint:
  #   name: Clippy
  #   runs-on: ubuntu-latest
  #   env:
  #     SCCACHE_GHA_ENABLED: "true"
  #     RUSTC_WRAPPER: "sccache"    
  #   steps:
  #     - uses: actions/checkout@v2
  #     - uses: actions-rs/toolchain@v1
  #       with:
  #         toolchain: stable
  #     - uses: mozilla-actions/sccache-action@v0.0.9
  #     - uses: actions-rs/cargo@v1
  #       with:
  #         command: clippy
  #         args: --no-deps -- -D warnings

  # ---------------------------------------------------------------------------
  #
  # Test
  #
  # Run our test suite to ensure that we don't break anything.
  # If we do break something and it's not caught here, then we need to fix it
  # and add a new test to cover the case! Don't be shy to use AI to help you
  # write tests.
  #
  # ---------------------------------------------------------------------------

  # test:
  #   name: Test
  #   runs-on: ubuntu-latest
  #   env:
  #     SCCACHE_GHA_ENABLED: "true"
  #     RUSTC_WRAPPER: "sccache"    
  #   steps:
  #     - uses: actions/checkout@v2
  #     - uses: actions-rs/toolchain@v1
  #       with:
  #         toolchain: stable
  #     - uses: mozilla-actions/sccache-action@v0.0.9
  #     - uses: actions-rs/cargo@v1
  #       with:
  #         command: test


  # ---------------------------------------------------------------------------
  #
  # Audit
  #
  # We only run cargo-audit on changes to Cargo.toml or Cargo.lock
  # There are some low severity issues that we are ignoring for now because
  # the crate maintainers have not or will not fixed them.
  #
  # ---------------------------------------------------------------------------

  # audit:
  #   name: Cargo Audit
  #   runs-on: ubuntu-latest
  #   env:
  #     SCCACHE_GHA_ENABLED: "true"
  #     RUSTC_WRAPPER: "sccache"    
  #   steps:
  #     - uses: actions/checkout@v2
  #     - uses: actions-rs/toolchain@v1
  #       with:
  #         toolchain: stable
  #     - uses: mozilla-actions/sccache-action@v0.0.9

  #     - uses: actions-rs/install@v0.1
  #       with:
  #         crate: cargo-audit
  #         version: latest

  #     - run: cargo audit --ignore RUSTSEC-2023-0071


  # ---------------------------------------------------------------------------
  #
  # Coverage
  #
  # ---------------------------------------------------------------------------

  coverage:
    name: Code Coverage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install Rust
        run: rustup update stable
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov
      - name: Generate code coverage
        run: cargo llvm-cov --html --all-features -- tests
