name: Build axum-tokio-postgres library

on: 
  push:
    paths:
      - 'Cargo.toml'
      - 'Cargo.lock'
      
jobs:
  audit:
    name: Cargo Audit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - uses: mozilla-actions/sccache-action@v0.0.9
      - uses: actions-rs/audit-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
