name: Build axum-tokio-postgres library

on: [pull_request_target, workflow_dispatch]

jobs:

  # ---------------------------------------------------------------------------
  #
  # Lint
  #
  # ---------------------------------------------------------------------------

  lint:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --no-deps -- -D warnings

  # ---------------------------------------------------------------------------
  # Test
  # ---------------------------------------------------------------------------

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: lint
    env:
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"    
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - uses: mozilla-actions/sccache-action@v0.0.9
      - uses: actions-rs/cargo@v1
        with:
          command: test

  # ---------------------------------------------------------------------------
  # Build
  # ---------------------------------------------------------------------------

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: test
    env:
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"    
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - uses: mozilla-actions/sccache-action@v0.0.9
      - uses: actions-rs/cargo@v1
        with:
          command: test
      - uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release --all-features

  # ---------------------------------------------------------------------------
  #
  # Audit
  #
  # We only run cargo-audit on changes to Cargo.toml or Cargo.lock
  #
  # ---------------------------------------------------------------------------

  audit:
    name: Cargo Audit
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - uses: mozilla-actions/sccache-action@v0.0.9

      - uses: actions-rs/install@v0.1
        with:
          crate: cargo-audit
          version: latest

      - run: cargo audit --ignore RUSTSEC-2023-0071
