name: Build axum-tokio-postgres library

on: [push]

jobs:

  # ---------------------------------------------------------------------------
  # Lint
  # ---------------------------------------------------------------------------

  lint:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --no-deps -- -D warnings

  # ---------------------------------------------------------------------------
  # Test
  # ---------------------------------------------------------------------------

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: lint
    env:
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"    
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - uses: mozilla-actions/sccache-action@v0.0.9
      - uses: actions-rs/cargo@v1
        with:
          command: test

  # ---------------------------------------------------------------------------
  # Build
  # ---------------------------------------------------------------------------

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: test
    env:
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"    
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - uses: mozilla-actions/sccache-action@v0.0.9
      - uses: actions-rs/cargo@v1
        with:
          command: test
      - uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release --all-features

  # ---------------------------------------------------------------------------
  #
  # Audit
  #
  # We only run cargo-audit on changes to Cargo.toml or Cargo.lock
  #
  # ---------------------------------------------------------------------------

  audit:
    name: Cargo Audit
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - uses: mozilla-actions/sccache-action@v0.0.9

      - name: check modified files
        id: cargo_files_changed
        run: |
            echo "=============== list modified files ==============="
            git diff --name-only HEAD^ HEAD
            
            echo "========== check if Cargo.lock or Cargo.toml have changed =========="
            git diff --name-only HEAD^ HEAD | grep -E '(Cargo\.lock|Cargo\.toml)'
            
            if [[ "$?" -eq "0" ]]; then
              echo "::set-output name=run_audit::true"
            else
              echo "::set-output name=run_audit::false"
            fi

      - uses: actions-rs/audit-check@v1
        if: steps.cargo_files_changed.outputs.run_audit == 'true'
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
